server {
  listen $PORT default_server;

  location / {
    root   /usr/share/nginx/html/index;
    index  index.html index.htm;
  }
  location /speedtest {
      alias   /usr/share/nginx/html/speedtest;
      port_in_redirect off;
      index  index.html index.htm;
  }
  location /test {
      alias /opt/test;
      autoindex on;
      autoindex_localtime on;
      autoindex_exact_size off;
      charset utf-8,gbk;
  }

}
